{{#side-bar}}
    <li class="sidebar-search">
        <div class="input-group custom-search-form">
            <input type="text" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
            <button class="btn btn-default" type="button">
                <i class="fa fa-search"></i>
            </button>
        </span>
        </div>
        <!-- /input-group -->
    </li>
    <li>
        {{#link-to 'theme.dashboard'}}<i class="fa fa-dashboard fa-fw"></i> Dashboard{{/link-to}}
    </li>
    <li>
        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                {{#link-to 'theme.flot'}}Flot Charts{{/link-to}}
            </li>
            <li>
                {{#link-to 'theme.morris'}}Morris.js Charts{{/link-to}}
            </li>
        </ul>
        <!-- /.nav-second-level -->
    </li>
    <li>
        {{#link-to 'theme.tables'}}<i class="fa fa-table fa-fw"></i> Tables{{/link-to}}
    </li>
    <li>
        {{#link-to 'theme.forms'}}<i class="fa fa-edit fa-fw"></i> Forms{{/link-to}}
    </li>
    <li>
        <a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                {{#link-to 'theme.wells-panels'}}Panels and Wells{{/link-to}}
            </li>
            <li>
                {{#link-to 'theme.buttons'}}Buttons{{/link-to}}
            </li>
            <li>
                {{#link-to 'theme.notifications'}}Notifications{{/link-to}}
            </li>
            <li>
                {{#link-to 'theme.typography'}}Typography{{/link-to}}
            </li>
            <li>
                {{#link-to 'theme.grid'}}Grid{{/link-to}}
            </li>
        </ul>
        <!-- /.nav-second-level -->
    </li>
    <li>
        <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="#">Second Level Item</a>
            </li>
            <li>
                <a href="#">Second Level Item</a>
            </li>
            <li>
                <a href="#">Third Level <span class="fa arrow"></span></a>
                <ul class="nav nav-third-level">
                    <li>
                        <a href="#">Third Level Item</a>
                    </li>
                    <li>
                        <a href="#">Third Level Item</a>
                    </li>
                    <li>
                        <a href="#">Third Level Item</a>
                    </li>
                    <li>
                        <a href="#">Third Level Item</a>
                    </li>
                </ul>
                <!-- /.nav-third-level -->
            </li>
        </ul>
        <!-- /.nav-second-level -->
    </li>
    <li>
        <a href="#"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="blank.html">Blank Page</a>
            </li>
            <li>
                <a href="login.html">Login Page</a>
            </li>
        </ul>
        <!-- /.nav-second-level -->
    </li>
{{/side-bar}}
