{{#nav-bar isLoggedIn=isLoggedIn currentUser=currentUser}}
    {{app-side-bar projects=projects isLoggedIn=isLoggedIn}}
{{/nav-bar}}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Home</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">
        <div class="col-lg-12">

        </div>
        <!-- /.col-lg-12 -->
    </div>

</div>
