<form id="frmLogin" role="form">
   <h2>Login</h2>
    {{form-errors errors=errors}}

   <div class="form-group">
    <label for="txtEmail">Email address</label>
    {{input value=model.email type="email" class="form-control" id="txtEmail" placeholder="Enter email" name="txtEmail"}}
</div>
<div class="form-group">
    <label for="txtPass">Password</label>
    {{input type='password' value=model.password class="form-control" id="txtPass" placeholder="Password" name="txtPass"}}
</div>
<button type="submit" class="btn btn-default btn-block" {{action "login"}}>Login</button>

</form>

{{#link-to 'forgot'}}Forgot password?{{/link-to}}
