<h1>Projects</h1>

<ul>
  {{#each item in model}}
    <li>{{#link-to 'project.show' item}}{{item.name}}{{/link-to}} <button class='btn btn-danger btn-xs' {{action "deleteProject" item}}>delete</button> </li>
  {{/each}}
</ul>
