{{#nav-bar currentUser=currentUser logout='logout'}}
    {{app-side-bar projects=projects currentUser=currentUser}}
{{/nav-bar}}
<div id="page-wrapper">
  {{#each item in model}}
    <li>{{#link-to 'project.show' item}}{{item.name}}{{/link-to}} <button class='btn btn-danger btn-xs' {{action "deleteProject"}}>delete</button>
<button class='btn btn-default btn-xs' {{action "shareDummy"}}>SHARE</button>
    </li>
  {{/each}}
</div>
